@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    color: #e2e8f0;
    /*color: #e2e8f0;*/
}

.layout-body {
    background: rgb(17, 32, 68);
    background: radial-gradient(circle, rgba(17, 32, 68, 1) 0%, rgba(15, 23, 42, 1) 61%);
    /*background: rgb(17,32,68);*/
    /*background: radial-gradient(circle, rgba(17,32,68,1) 0%, rgba(15,23,42,1) 61%);*/
}

.main-container {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title {
    font-family: "Roboto", sans-serif;
}

.text-section {
    max-height: 500px;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav2{
    margin-left: 60px;
    margin-right: 60px;
}
.icon{
   max-height: 30px;
}
.transparent-card:hover{
    background: rgba( 255, 255, 255, 0.02 );
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

svg{
    fill:  #e2e8f0;
}

p{
    color: #84a3b8;
    font-size: 16.5px;
}

.fit{
    width: fit-content
}
