@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    color: #e2e8f0;
    /*color: #e2e8f0;*/
}

::-webkit-scrollbar {
    width:15px;
}

::-webkit-scrollbar-track {
    background-color: #0F172A;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

html{
    scroll-behavior: smooth;
}

#main-nav{
    align-self: center;
    z-index: 999999;
    position: fixed;
    top: 0;
    transition: all 0.3s ease !important;
}


.layout-body {
    /*filter: contrast(170%) brightness(1000%);*/
    background: radial-gradient(circle, rgba(17, 32, 68, 1) 0%, rgba(15, 23, 42, 1) 61%), url(https://grainy-gradients.vercel.app/noise.svg);
    /*background: rgb(17, 32, 68);*/
    /*background: radial-gradient(circle, rgba(17, 32, 68, 1) 0%, rgba(15, 23, 42, 1) 61%), url(https://grainy-gradients.vercel.app/noise.svg);*/
    /*background: rgb(17,32,68);*/
    /*background: radial-gradient(circle, rgba(17,32,68,1) 0%, rgba(15,23,42,1) 61%);*/
}

.main-container {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title {
    font-family: "Roboto", sans-serif;
}

.text-section {
    max-height: 500px;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav2 {
    margin-left: 60px;
    margin-right: 60px;
}

.transparent-card {
    border: 1px solid rgba(0, 0, 0, 0);
}

.transparent-card:hover {
    background: rgba(255, 255, 255, 0.02);
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.transparent-border{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass{
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

svg {
    fill: #e2e8f0;
}
.contact-svg svg:hover {
    fill: #abb8c8;
}

p {
    color: #84a3b8;
    font-size: 16.5px;
}

.fit {
    width: fit-content
}

.project-div {
    margin-top: 100px;
}

.transparent-card:hover .experience {
    color: #4ed4d5;
}

@media (max-width: 800px) {
    #main-nav {
        display: none !important;
    }
}
/*stolen email form css start*/

.InputStyle, .btn{
    border-radius: 25px;
    border: solid 1px white;
    background: transparent;
    width: 300px;
    padding: 10px 20px;
}

input, input::-webkit-input-placeholder {
    font-size: 12px;
    color: white;
}

.social-btn {
    position: absolute;
    bottom: 20px;
    left: 47%;
}

i {
    padding: 5px;
    color: white;

}

textarea, input, input:focus {
    border: solid 1px white;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    resize: vertical;
}

.secondLine {
    font-weight: 350;
    font-size: 15px;
    margin-bottom: 15%;
    color: white;

}

.firstLine {
    font-size: 30px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .firstLine {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .name_and_email {
        font-family: Roboto, sans-serif;
        width: 560px;
    }

    .message {
        resize: none;
        font-family: Roboto, sans-serif;
        width: 1140px;
        overflow: auto;
    }
}

@media (max-width: 1400px) {
    .name_and_email {
        font-family: Roboto, sans-serif;
        width: 470px;
    }

    .message {
        font-family: Roboto, sans-serif;
        width: 960px;
    }
}

@media (max-width: 1200px) {
    .name_and_email {
        font-family: Roboto, sans-serif;
        width: 380px;
    }

    .message {
        font-family: Roboto, sans-serif;
        width: 777px;
    }
}

@media (max-width: 990px) {
    .name_and_email {
        font-family: Roboto, sans-serif;
        width: 540px;
    }

    .message {
        font-family: Roboto, sans-serif;
        width: 540px;
    }
}

@media (max-width: 770px) {
    .name_and_email {
        font-family: Roboto, sans-serif;
        width: 350px;
    }

    .message {
        font-family: Roboto, sans-serif;
        width: 350px;
    }
}

@media (max-width: 500px) {
    .name_and_email {
        font-family: Roboto, sans-serif;
        width: 250px;
    }

    .message {
        font-family: Roboto, sans-serif;
        width: 250px;
    }
}

@media (max-width: 400px) {
    .name_and_email {
        font-family: Roboto, sans-serif;
        width: 200px;
    }

    .message {
        font-family: Roboto, sans-serif;
        width: 200px;
    }
}

.form-control:focus{
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.form-control::placeholder {
    color: #e2e8f0;
    opacity: 0.5;
}

.form-control {
    color: #e2e8f0 !important;
}

.invalid-feedback{
    font-family: 'roboto',sans-serif;
}




